<!DOCTYPE HTML>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Title -->
  <title>Bodysign</title>

  <!-- Bootstrap & Font-Awesome CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Custom CSS -->


  <!-- Animation CSS -->


  <!-- Google Webfont -->
  <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,700' rel="stylesheet" type='text/css'>

  <!-- js files & script -->
  <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="js/hover_pack.js"></script>
  <script type="text/javascript">
      jQuery(document).ready(function($) {
          $(".scroll").click(function(event){
              event.preventDefault();
              $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
      });
  </script>
  <script type="text/javascript" src="js/easing.js"></script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <script type="text/javascript" src="js/retina.js"></script>
  <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script>
      new WOW().init();
  </script>

</head>
<body>

<header id="header"> <!-- Header Part -->
  <div class="header">
    <div class="container">
      <!-- start-top-nav -->
      <div class="top-nav">
        <div class="top-header">
        </div>
        <nav class="nav">
          <a id="menu-toggle" class="anchor-link" href="#"><img src="assets/images/nav.png"   alt=""/></a>
          <ul class="nav-list" id="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#about" class="scroll">About</a></li>
            <li><a href="#gallery" class="scroll">Gallery</a></li>
            <!-- logo -->
            <li class="logo"><a href="#"><img src="https://i.imgur.com/wFnavy7.png" alt=""/></a></li>
            <!-- logo -->
            <li><a href="#contact" class="scroll">Contact</a></li>
          </ul>
        </nav>
        <script type="text/javascript">

            $(document).ready(function() {

                $('#menu-toggle').click(function () {
                    $('#menu').toggleClass('open');
                    event.preventDefault();
                });

            });
        </script>
      </div>
      <!-- End-top-nav -->
    </div>
  </div>
</header>

<section id="about-section"> <!-- About Section -->


  <div class="container-fluid">
    <div class="row" id="about">
      <div class="col-md-6 about_left">
        <a href="#" class="button-one about_btn button-type-one button-box">Om Bodysigns</a>
      </div>
      <div class="col-md-6 about_right wow fadeInUp" data-wow-delay="0.0s">
        <div class="about_text">
          <img src="https://i.imgur.com/a/f2mLYZj" class="img-responsive" alt=""/>
          <h3>Christian og Bodysigns</h3>
          <p> Bodysigns Tattoo og piercing er grundlagt i 2004 og har haft beliggenhed i centrum af Esbjerg lige siden. Butikken drives til dagligt af Christian Nielsen som har omkring 20 års erfaring indenfor tatovering og 10 års erfaring indenfor piercing. </p>
          <p>Butikken er registeret pr 2019 ved sikkerhedstyrelsen, og der forefindes diverse hygiejne beviser og diplomer i forretningen. Christian er desuden medlem af Danmarks største brancheforening for professionelle tatovører, DPUT.</p>
        </div>
      </div>
    </div>

  </div>
</section>



<section id="contact-section"> <!-- Contact info Section-->



  <div class="contact"  data-wow-delay="0.0s" id="contact">
    <div class="container">
      <div class="col-md-7 contact-left wow fadeInLeft">
        <a href="#" class="button-one contact_btn button-type-one button-box">Kontakt os</a>
        <h4>Vi laver alle former for tatoveringer og piercinger! Så bare ring ind eller smid en besked på telefon eller diverse sociale medier</h4>
        <div class="contact-info">
          <ul class="contact-list-one">
            <li><h5>Kontakt:</h5></li>
            <li>Telefon : <span class="bold">+45 29 46 00 70</span></li>
            <li>Email : <a href="mailto:"> tattoo@bodysigns.dk</a></li>
            <li>Address : <span class="bold">Strandbygade 42 6700 Esbjerg</span></li>
          </ul>
          <ul class="contact-list-two">
            <li><h5>Åbningstider</h5></li>
            <li>Mandag : <span class="bold">11.00 til 16.00</span></li>
            <li>Tirsday : <span class="bold">11.00 til 16.00</span></li>
            <li>Onsdag : <span class="bold">11.00 til 16.00</span></li>
            <li>Torsdag : <span class="bold">12.00 til 16.00</span></li>
            <li>Fredag: <span class="bold">11.00 til 15.00</span></li>
            <li>Lørdag: <span class="bold">Lukket</span></li>
            <li>Søndag : <span class="bold">Lukket</span></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
        <ul class="contact-social">
          <li><a href=""> <i class="fb"> </i> </a></li>
          <li><a href=""><i class="tw"> </i> </a></li>
          <li><a href=""><i class="tumb"> </i> </a></li>
          <li><a href=""><i class="linked"> </i> </a></li>
          <li><a href=""><i class="pinterest"> </i> </a></li>
          <li><a href=""><i class="google"> </i> </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="map-section"> <!-- Map Section -->


  <div class="container-fluid">
    <div class="row">
      <div class="map-div wow fadeInDown">
        <a href="https://www.google.dk/maps/place/Bodysigns+tattoo+v%2F+Christian+Nielsen/@55.4699887,8.4370677,17z/data=!4m5!3m4!1s0x464b20d382be9d37:0xdbf3520a8fe97740!8m2!3d55.4699887!4d8.4392564"><img src="https://i.imgur.com/sX0tJmz.png" alt="" /></a>
      </div>
    </div>
  </div>
</section>

<section id="footer-section"> <!-- Footer Section -->

  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul class="nav-list wow fadeInDown" id="footer-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#about" class="scroll">About</a></li>
          <li><a href="#gallery" class="scroll">Gallery</a></li>
          <!-- logo -->
          <li class="logo"><a href="#"><img src="https://i.imgur.com/wFnavy7.png" alt=""/></a></li>
          <!-- logo -->
          <li><a href="#contact" class="scroll">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("a[rel^='prettyPhoto']").prettyPhoto();
    });
</script>


<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>
