<div class="body">
<mat-sidenav-container fxFlexFill="" (backdropClick)="toggleNav()">
  <mat-sidenav [mode]="mode" [opened]="sideNavBar">
    <mat-nav-list>
      <a *ngFor="let route of routes" mat-list-item [routerLink]="route.route"><app-margin-icon [iconName]="route.icon"></app-margin-icon>{{route.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <app-toolbar (navToggle)="toggleNav()"></app-toolbar>
    <div fxFlex class="router">
    <router-outlet></router-outlet>
    </div>
    <footer fxLayout="column">
      <hr fxFlexFill>
      <P fxFlexAlign="center">Copyright 2018 BodySigns Tattoo</P>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>

