<div class="nav">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <button mat-mini-fab color="white" >1</button>
      <button mat-mini-fab color="white" >2</button>
      <button mat-mini-fab color="white" >3</button>
      <button mat-mini-fab color="white" >4</button>
      <button mat-mini-fab color="white" >5</button>
      <button mat-mini-fab color="white" >6</button>
      <button mat-mini-fab color="white" >A very long Name</button>
      <button mat-mini-fab color="white" >Tribal</button>
      <button mat-mini-fab color="white" >Users</button>
      <button mat-mini-fab color="white" >Keltic</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="Gallery">
  <img src="https://firebasestorage.googleapis.com/v0/b/bodysigns-93c93.appspot.com/o/Gallery%2FDSC00221.JPG?alt=media&token=2071793e-8889-4557-8510-c8770cc505df">
</div>


